In [23]:
import pandas as pd
import lseg.data as ld
import matplotlib.pyplot as plt
from lseg.data.content import historical_pricing
from lseg.data.content.historical_pricing import Intervals
import statsmodels.tsa.stattools as ts
import numpy as np

In [24]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../../Configuration"
ld.open_session()

In [72]:
wti=ld.get_history(
    universe="CLc1",
    fields=['BID','ASK'],
    interval= "hourly", count=10000)
wti.ohlc("5s")

CLc1                   BID                         ASK
                      open   high    low  close   open   high    low  close
Timestamp
2023-10-02 19:00:00  88.74  88.74  88.74  88.74  88.76  88.76  88.76  88.76
2023-10-02 19:00:05    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2023-10-02 19:00:10    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2023-10-02 19:00:15    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2023-10-02 19:00:20    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...                    ...    ...    ...    ...    ...    ...    ...    ...
2024-10-02 18:59:40    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2024-10-02 18:59:45    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2024-10-02 18:59:50    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2024-10-02 18:59:55    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2024-10-02 19:00:00  70.48  70.48  70.48  70.48  70.49  70.49  70.49  70.49

[6324481 rows x 8 columns]